<h1>Your Booking</h1>
<%= simple_form_for [@hotel, @booking] do |f| %>
  <%= f.input :start_time, as: :date %>
  <%= f.input :end_time, as: :date %>
  <%= f.input :note %>
  <%= f.submit "Submit Booking", class: "btn btn-primary" %>
<% end %>
