<div class="container my-3">
  <div class="card mx-auto smol-card-component" style="width: 50rem;">
    <%= image_tag(@booking.bookable.image_url[0], class: "card-img-top", height: '400')%>
    <div class="card-header border-bottom-0">
      <h3><b>Confirmed!</b></h3>
    </div>
    <div class="card-body">
      <h5 class="card-title mb-4"><%= "You're going to #{@booking.bookable.name}" %></h5>
      <div class="d-flex justify-content-start">
        <div class="card-title">
          <h5><b>Check-In date:</b></h5>
          <p><%= "#{@booking.end_time.strftime("%A %B #{@booking.end_time.day.ordinalize} %Y at %-l%P")}" %></p>
        </div>
        <div class="card-title checkout">
          <h5><b>Check-Out date:</b></h5>
          <p><%= "#{@booking.end_time.strftime("%A %B #{@booking.end_time.day.ordinalize} %Y at %-l%P")}" %></p>
        </div>
      </div>
      <h5 class="card-title"><i class="fa-solid fa-hotel"></i><b> Room details:</b></h5>
      <p class="card-text mb-4"><%= "Standard room with canal view" %></p>
      <h5 class="card-title"><b>Booking Name:</b></h5>
      <p class="card-text"><i class="fa-solid fa-circle-user"></i><%= " #{@booking.user.first_name} #{@booking.user.last_name}"%></p>
      <p class="card-text"><i class="fa-solid fa-at"></i><%= " #{@booking.user.email}"%></p>
      <p class="card-text"><i class="fa-solid fa-phone"></i><%= " #{@booking.user.phone_number}"%></p>
      <%= link_to "See my Bookings", bookings_path, class:"btn btn-primary" %>
    </div>
    <div class="qrcode"></div>
  </div>
</div>
</div>
