<div class="navbar navbar-expand-sm navbar-light navbar-perriplan navbar-static-top d-flex">
  <div class="container-fluid">
    <div class="d-flex justify-content-start align-items-center">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDBZWCALotd8NtIPCKubDqC95h0RG5wnnKcg&usqp=CAU" %>
      <% end %>
      <h1>PerriPlan</h1>
    </div>
    <% unless current_page? root_path %>
      <div class="">
        <%= form_with method: :get, class: "d-flex my-4" do %>
          <%= text_field_tag :query,
                            params[:query],
                            class: "form-control rounded",
                            placeholder: "Search" %>
          <%= button_tag type: 'submit', name: "", id: "btnsearch", class: "btn btn-secondary" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto container">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Destinations", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://scontent-ams4-1.xx.fbcdn.net/v/t39.30808-6/289462788_7699038730138159_3212458452925632917_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=2DBMGqnKmCUAX-0I07V&_nc_ht=scontent-ams4-1.xx&oh=00_AfD2UnbY-XF13MpH9VitIRgnlp1e2-5z6xqiv282aU4kxw&oe=648D113A", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Your Profile", "#", class: "dropdown-item" %>
              <%= link_to "Reviews", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li type="button" class="nav-item btn btn-outline-primary mx-3">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li type="button" class="nav-item btn btn-primary mx-3">
            <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
