<div class="container mt-3">
  <div class="row">
    <div class="d-flex">
      <div class="main-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
      <div class="photo-grid">
        <div class="sec-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
        <div class="thi-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
        <div class="fou-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
        <div class="fif-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
      </div>
    </div>
    <div class=" my-5 d-flex justify-content-between hotel-info ">
      <div class="my-5 d-flex flex-column justify-content-between" >
        <h3><strong><%= @restaurant.name %></strong></h3>
        <h4>Address: <strong><%= @restaurant.location %></strong></h4>
        <h4>Price Rating: <strong><%= @restaurant.price_rating %></strong></h4>
      </div>
    </div>
    <div class="sticky-map flex-shrink-0" style="position: sticky !important; top: 10px; width: 100%; height: 400px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-center-value="<%= [@restaurant.longitude, @restaurant.latitude] %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <% @reviews.each do |review|  %>
    <section class="rating__card">
      <blockquote class="rating__card__quote">“<%=
      review.comment
      %>
        ”</blockquote>
      <div class="rating__card__stars">
        <% review.rating.times do %>
          <i class="fa-solid fa-paw" ></i>
        <% end %>
        <% (5 - review.rating).times do %>
          <i class="fa-solid fa-paw" style="color: #d4d4d4;"></i>
        <% end %>
      </div>
      <p class="rating__card__bottomText"><%= review.user.first_name %></p>
    </section>
  <% end %>
</div>
