<div class="container mt-3">
  <div class="row">
    <h3 class="mt-3"><strong><%= @restaurant.name %></strong></h3>
    <h5 class="mb-3"><%= @restaurant.location %></h4>
    <div class="mb-4 pb-3">
      <% @restaurant.price_rating.times do %>
        <i class="fa-solid fa-euro-sign"></i>
      <% end %>
      <% (4 - @restaurant.price_rating).times do %>
        <i class="fa-solid fa-euro-sign" style="color: #d4d4d4;"></i>
      <% end %>
    </div>
    <div class="d-flex m-0 p-0">
      <div class="main-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
      <div class="photo-grid">
        <div class="sec-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
        <div class="thi-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
        <div class="fou-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
        <div class="fif-pic" style="background-image: url('<%= cl_image_path @restaurant.photo.key %>');"></div>
      </div>
    </div>
    <h3 class="mt-5 mb-3">More Details</h3>
    <div class="row">
      <div class="d-flex align-items-start justify-content-between">
        <div class="col-6 sticky-map flex-shrink-0" style="position: sticky !important; top: 10px; width: 550px; height: 450px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-center-value="<%= [@restaurant.longitude, @restaurant.latitude] %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div class="pl-3 py-5 col-3 d-flex justify-content-between" style="height: 450px">
          <div class="d-flex flex-column justify-content-between">
            <h3>Details & Amenities</h3>
            <h6><i class="pe-2 fa-solid fa-wifi"></i>Wifi Available</h6>
            <h6><i class="pe-2 fa-solid fa-paw"></i>Dogs Allowed</h6>
            <h6><i class="pe-2 fa-solid fa-square-parking"></i>Parking Available</h6>
            <h6><i class="pe-2 fa-solid fa-utensils"></i>Food Served</h6>
            <h6><i class="pe-2 fa-solid fa-snowflake"></i>Air Conditioning</h6>
            <h6><i class="pe-2 fa-sharp fa-solid fa-martini-glass"></i>Alcohol Served</h6>
            <h6><i class="pe-2 fa-solid fa-mug-saucer"></i>Non-Alcohol Served</h6>
            <h6><i class="pe-2 fa-solid fa-ban-smoking"></i>No Smoking Allowed</h6>
          </div>
        </div>
        <div class="smol-card-component col-3 d-flex justify-content-between align-items-center" style="height: 450px">
          <div class="container my-5">
            <h4 class="new_booking"><strong>Reserve Your Booking</strong></h4>
            <%= simple_form_for [@restaurant, @booking], class: "pl-4"  do |f| %>
              <div class="row">
                <div class="col">
                  <%= f.input :start_time, as: :string,
                placeholder: "Select Date and Time",
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
                </div>
              </div>
              <%= f.input :note %>
              <%= f.submit "Book", class: "btn btn-info fw-bold" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-5">Reviews</h3>
  <div class="row justify-content-between">
    <% @reviews.each do |review|  %>
      <section class="rating__card col-6 my-3">
        <blockquote class="rating__card__quote">“<%=
      review.comment
      %>
          ”</blockquote>
        <div class="rating__card__stars">
          <% review.rating.times do %>
            <i class="fa-solid fa-paw" ></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="fa-solid fa-paw" style="color: #d4d4d4;"></i>
          <% end %>
        </div>
        <p class="rating__card__bottomText"><%= review.user.first_name %></p>
      </section>
    <% end %>
  </div>
</div>
