<div class="container mt-3">
  <div class="row">
    <h3 class="mt-3"><strong><%= @hotel.name %></strong></h3>
    <h5 class="mb-3"><%= @hotel.location %></h5>
    <div class="mb-4 pb-3">
      <% @hotel.price_rating.times do %>
        <i class="fa-solid fa-paw"></i>
      <% end %>
      <% (5 - @hotel.price_rating).times do %>
        <i class="fa-solid fa-paw" style="color: #d4d4d4;"></i>
      <% end %>
      <%= link_to "Go back", :back, class:"btn btn-info fw-bold" %>
    </div>
    <div class="d-flex m-0 p-0">
      <div class="main-pic" style="background-image: url('<%= @hotel.image_url[0] %>');"></div>
      <div class="photo-grid">
        <div class="sec-pic" style="background-image: url('<%= @hotel.image_url[1] %>');"></div>
        <div class="thi-pic" style="background-image: url('<%= @hotel.image_url[2] %>');"></div>
        <div class="fou-pic" style="background-image: url('<%= @hotel.image_url[3] %>');"></div>
        <div class="fif-pic" style="background-image: url('<%= @hotel.image_url[4] %>');"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 my-5 d-flex justify-content-between hotel-info">
        <div class="sticky-map flex-shrink-0" style="position: sticky !important; top: 10px; width: 550px; height: 450px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-markersrestaurants-value="<%= @markersrestaurants.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="pl-3 col-3 my-5 d-flex justify-content-between hotel-info">
        <div class="my-5 d-flex flex-column justify-content-between" >
          <% @hotel.tag_list.each do |amenity| %>
            <% if amenity.downcase == "free wifi" || amenity.downcase == "internet access" %>
              <h6><i class="fa-solid fa-wifi"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "pool" %>
              <h6><i class="fa-solid fa-person-swimming"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "spa" %>
              <h6><i class="fa-sharp fa-solid fa-spa"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "pet-friendly" %>
              <h6><i class="fa-solid fa-paw"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "parking available" || amenity.downcase == "free parking" %>
              <h6><i class="fa-solid fa-square-parking"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "restaurant" %>
              <h6><i class="fa-solid fa-utensils"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "airport transfer" %>
              <h6><i class="fa-solid fa-van-shuttle"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "air conditioning" %>
              <h6><i class="fa-solid fa-snowflake"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "bar" %>
              <h6><i class="fa-sharp fa-solid fa-martini-glass"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "laundry facilities" %>
              <h6><i class="fa-solid fa-jug-detergent"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "connecting rooms available" %>
              <h6><i class="fa-solid fa-people-roof"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "gym" %>
              <h6><i class="fa-sharp fa-solid fa-dumbbell"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "free breakfast" %>
              <h6><i class="fa-solid fa-mug-saucer"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "non-smoking" %>
              <h6><i class="fa-solid fa-ban-smoking"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% elsif amenity.downcase == "24/7 front desk" %>
              <h6><i class="fa-solid fa-bell-concierge"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="smol-card-component col-3 my-5 d-flex justify-content-between hotel-info">
        <div class="container">
          <h4><strong>Reserve Your Booking</strong></h4>
          <%= simple_form_for [@hotel, @booking] do |f| %>
            <div class="row">
              <div class="col">
                <%= f.input :start_time, as: :string,
                placeholder: "Check-In",
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
              </div>
              <div class="col">
                <%= f.input :end_time, as: :string,
                placeholder: "Check-Out",
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
              </div>
            </div>
            <%= f.input :note %>
            <%= f.submit "Reserve", class: "btn btn-info fw-bold" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <h3>Reviews</h3>
  <div class="row justify-content-between">
    <% @reviews.each do |review|  %>
      <section class="rating__card col-6 my-3">
        <blockquote class="rating__card__quote">“<%=
      review.comment
      %>
          ”</blockquote>
        <div class="rating__card__stars">
          <% review.rating.times do %>
            <i class="fa-solid fa-paw" ></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="fa-solid fa-paw" style="color: #d4d4d4;"></i>
          <% end %>
        </div>
        <p class="rating__card__bottomText"><%= review.user.first_name %></p>
      </section>
    <% end %>
  </div>
</div>
