<div class="container mt-3">
  <div class="row">
    <h3><strong><%= @hotel.name %></strong></h3>
    <h4><%= @hotel.location %>  ⭐  <%= @hotel.price_rating %></h4>
    <div class="d-flex m-0 p-0">
      <div class="main-pic" style="background-image: url('<%= @hotel.image_url[0] %>');"></div>
      <div class="photo-grid">
        <div class="sec-pic" style="background-image: url('<%= @hotel.image_url[1] %>');"></div>
        <div class="thi-pic" style="background-image: url('<%= @hotel.image_url[2] %>');"></div>
        <div class="fou-pic" style="background-image: url('<%= @hotel.image_url[3] %>');"></div>
        <div class="fif-pic" style="background-image: url('<%= @hotel.image_url[4] %>');"></div>
      </div>
    </div>
    <div class=" my-5 d-flex justify-content-between hotel-info ">
      <div class="my-5 d-flex flex-column justify-content-between" >
        <% @hotel.tag_list.each do |amenity| %>
          <% if amenity.downcase == "free wifi" || amenity.downcase == "internet access" %>
            <h6><i class="fa-solid fa-wifi"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "pool" %>
            <h6><i class="fa-solid fa-person-swimming"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "spa" %>
            <h6><i class="fa-sharp fa-solid fa-spa"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "pet-friendly" %>
            <h6><i class="fa-solid fa-paw"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "parking available" || amenity.downcase == "free parking" %>
            <h6><i class="fa-solid fa-square-parking"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "restaurant" %>
            <h6><i class="fa-solid fa-utensils"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "airport transfer" %>
            <h6><i class="fa-solid fa-van-shuttle"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "air conditioning" %>
            <h6><i class="fa-solid fa-snowflake"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "bar" %>
            <h6><i class="fa-sharp fa-solid fa-martini-glass"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "laundry facilities" %>
            <h6><i class="fa-solid fa-jug-detergent"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "connecting rooms available" %>
            <h6><i class="fa-solid fa-people-roof"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "gym" %>
            <h6><i class="fa-sharp fa-solid fa-dumbbell"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "free breakfast" %>
            <h6><i class="fa-solid fa-mug-saucer"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "non-smoking" %>
            <h6><i class="fa-solid fa-ban-smoking"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% elsif amenity.downcase == "24/7 front desk" %>
            <h6><i class="fa-solid fa-bell-concierge"></i><span>&nbsp&nbsp&nbsp<%= amenity %></span></h6>
          <% end %>
         <% end %>
      </div>
    </div>
    <div class="sticky-map flex-shrink-0" style="position: sticky !important; top: 10px; width: 100%; height: 400px;">
    <div class="row my-5 d-flex justify-content-between hotel-info ">
      <div class="col-md-6 sticky-map flex-shrink-0" style="position: sticky !important; top: 10px; width: 550px; height: 400px;"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-markersrestaurants-value="<%= @markersrestaurants.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="row col-md-6">
        <div class="my-3">
          <h1>Reserve Your Booking</h1>
          <%= simple_form_for [@hotel, @booking] do |f| %>
            <div class="row">
              <div class="col">
                <%= f.input :start_time, as: :string,
                placeholder: "Check-In",
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
              </div>
              <div class="col">
                <%= f.input :end_time, as: :string,
                placeholder: "Check-Out",
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
              </div>
            </div>
            <%= f.input :note %>
            <%= f.submit "Reserve", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
