<div class="container mt-3">
  <div class="row">
    <div class="d-flex justify-content-between">
      <a  class="btn btn-primary" href="#tab-es6">Hotels</a>
      <a  class="btn btn-primary" href="#tab-flexbox">Food & Drink</a>
      <a  class="btn btn-primary" href="#tab-react">Attractions</a>
    </div>
    <div class=" my-5 d-flex justify-content-between hotel-info ">
      <div class="my-5 d-flex flex-column justify-content-between" >
        <h3><strong><%= @hotel.name %></strong></h3>
        <h4>Address: <strong><%= @hotel.location %></strong></h4>
        <h4>Price Rating: <strong><%= @hotel.price_rating %></strong></h4>

      </div>
      <% @hotel.image_url.each do |image|%>
      <%= image_tag image, alt: "Hotel Image" %>
      <% end %>
    </div>

      <%= link_to "Book", root_path, class:"btn btn-primary bookBtn"  %>


    <div class="map">
      <h1>Map Placeholder</h1>
    </div>

  </div>

</div>
