<div class="container mt-3">
  <div class="row">
    <div class="d-flex justify-content-between">
      <% @hotel.image_url.each do |image|%>
        <%= image_tag image, alt: "Hotel Image" %>
      <% end %>
    </div>
    <div class=" my-5 d-flex justify-content-between hotel-info ">
      <div class="my-5 d-flex flex-column justify-content-between" >
        <h3><strong><%= @hotel.name %></strong></h3>
        <h4>Address: <strong><%= @hotel.location %></strong></h4>
        <h4>Price Rating: <strong><%= @hotel.price_rating %></strong></h4>
      </div>
    </div>
    <div class="container my-3">
      <h1>Reserve Your Booking</h1>
      <%= simple_form_for [@hotel, @booking] do |f| %>
        <%= f.input :start_time, as: :date %>
        <%= f.input :end_time, as: :date %>
        <%= f.input :note %>
        <%= f.submit "Submit Booking", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="map">
      <h1>Map Placeholder</h1>
    </div>
  </div>
</div>
